.popup-recipes-shortcode {
    width: 50%;
    height: 500px;
    padding: 10px 10px;
    background: #fff;
    max-width: 598px;
    margin: 0 auto;
    position: relative;
    display: none;
}

.popup-recipes-shortcode select[multiple] {
    width: 50%;
    height: 100%;
}

.popup-recipes-inner {
    height: 100%;
}

.add-custom-metabox {
    color: #00a0d2;
    cursor: pointer;
}

.recipes-item-list .item-metabox {
    display: flex;
    align-items: center;
}

.recipes-item-list .item-metabox input {
    width: 100%;
    max-width: 400px;
}

.mfp-s-ready .popup-recipes-shortcode {
    display: block;
}

.insert-shortdode-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    -moz-box-shadow: inset 0 1px 0 0 #d9fbbe;
    -webkit-box-shadow: inset 0 1px 0 0 #d9fbbe;
    box-shadow: inset 0 1px 0 0 #d9fbbe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
    background: -moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: -webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: -o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: -ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52', GradientType=0);
    background-color: #b8e356;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #83c41a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 31px;
    text-decoration: none;
    text-shadow: 0 1px 0 #86ae47;
    outline: none;
}

.insert-shortdode-btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
    background: -moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background: -webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background: -o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background: -ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356', GradientType=0);
    background-color: #a5cc52;
}

.insert-shortdode-btn:active {
    outline: none;
}

.additional-meta-box {

}

.item-additional {
    max-width: 258px;
    overflow: hidden;
    margin-bottom: 10px;
}

.item-additional input {
    float: right;
}

.item-additional label {
    margin-top: 2px;
    position: relative;
    top: 3px;
}

.add-image-rec, .add-headline-btn {
    font: 12px Verdana;
    margin-left: 10px;
}

.title-headline {
    padding: 0 10px;
    font: bold 12px Verdana;
}

.code-recipe-full {
    padding: 20px 10px;
    margin: 10px 0 20px 0;
    background: #fff;
    border: 1px solid #8c8c8c;
}

.list-templates-recipes label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.list-templates-recipes {
    display: inline-block;
}

.list-templates-recipes > div{
    margin-bottom: 10px;
}

