.wrap #primary.recipe-content {
    width: 100%;
}

.nutrition-rec ul {
    overflow: hidden;
    list-style: none;
    clear: both;
    text-align: center;
}

.nutrition-rec ul li{
    float: left;
    width: 11.5%;
    margin: 0 1% 0 0;
    border: 1px solid #0b0b0b;
}

.nutrition-rec ul li strong{
    display: block;
}

.custom-fields-recipes{
    clear: both;
    overflow: hidden;
}

.form-added-recipe .form-table{
    margin-top: 20px;
}

.add-headline-btn, .add-image-rec{
    background: #fff;
    border: 1px solid #8c8c8c;
    margin: 0;
}


.add-image-rec {
    margin-top: -4px;
}

.form-added-recipe .dashicons{
    margin-top: 14px;
}

.form-added-recipe .dashicons-trash{
    margin-top: 10px;
}

.table-added-recipe td{
    padding: 10px 0;
}

.table-added-recipe input{
    float: left;
    max-width: 70%;
}

.item-metabox{
    overflow: hidden;
    clear: both;
    padding: 10px 0;
    display: block;
}
